.sectionContact {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 300px;
  margin: 20px 0;
  padding: 0;
  border-radius: 5px;
  justify-content: space-between;
}
.contactButton {
  padding: 5px 10px;
  margin: 10px;
}
